
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-image: url("http://wallpapercave.com/wp/4h2ggPo.jpg");
}

.header{
  text-align: center;
  color: #e6cf8a;
  border-bottom: 1px solid #cbbe96;
}
.hero-select-container{
  text-align: center;
}

.hero-select{
  background-color: blue;
width: 300px;
border-radius: 10px;
text-align: center;
}

.hero, .villain{
  text-align: center;
} h5 {
  color: white;
}
h2 {
  color: white;
}  i {
  border: 1px solid #cbbe96;
  border-radius: 10px;
  background-color: #23962f;
  padding: 2px 10px 2px 10px;
} img {
  height: 500px;
  width: 500px;
  border-radius: 30px;
}


.attack{
  text-align: center;
}
